# OSX
.DS_Store

# VSCode
.vscode/
jsconfig.json

# Built Codes (iOS/Android)
build/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.xcode.env.local
.env

# Android/IJ
**/.idea/caches/
**/.idea/libraries/
**/.idea/shelf/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/.name
**/.idea/compiler.xml
**/.idea/copyright/profiles_settings.xml
**/.idea/encodings.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/scopes/scope_settings.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
**/.idea/assetWizardSettings.xml
**/.idea/gradle.xml
**/.idea/jarRepositories.xml
**/.idea/navEditor.xml
.classpath
.cxx
.gradle
.gradle/
.project
.cproject
.settings/
local.properties
android.iml
*.iml
*.iws
/out/
*.hprof
log/android/dumpstate-*.zip

# CocoaPods
example/ios/Pods

# Ruby
example/vendor/

# node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
android/app/libs
*.keystore
!debug.keystore
**/release.keystore.pub

# fastlane
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Turborepo
.turbo/

# Bundle artifact
*.jsbundle

# Bob
dist/
lib/

# Study
doc/**/*.md
log/**/*.log
