lib/typescript/example
ios/build
android/build
example/android/app/build
example/ios/DerivedData
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
script/*.js
**/__tests__
**/.*
**/merger.xml
**/manifest-merger-blame-debug-report.txt
**/google-services.json
**/GoogleService-Info.plist
**/*.ipa
**/*.aab
**/*.apk
**/*.iml
**/*.log
