{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "options": {
        "parser": "babel-ts"
      }
    }
  ]
}
