<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stepcounter"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"
        tools:targetApi="eclair"
        tools:ignore="ObsoleteSdkInt" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true"
        tools:targetApi="eclair"
        tools:ignore="ObsoleteSdkInt" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="o">
        <service
            android:name=".step.services.StepCounterService"
            android:enabled="true" />
        <uses-library
            android:name=".step.utils.DateHandler"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".step.receivers.RebootActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".step.receivers.UpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".step.receivers.ServiceRestarter"
            android:enabled="true"
            android:exported="true"
            android:permission="@string/androidx_startup">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
    </application>

</manifest>