<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stepcounter">

  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <uses-permission android:name="android.permission.BODY_SENSORS" />
  <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />

  <uses-feature
    android:name="android.hardware.sensor.stepcounter"
    android:required="true" />
  <uses-feature
    android:name="android.hardware.sensor.stepdetector"
    android:required="true" />
  <uses-feature
    android:name="android.hardware.sensor.accelerometer"
    android:required="true" />

</manifest>